@{
    ViewData["Title"] = "Formulário 1";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<div class="">
    <h1>Formulário 1</h1>

    <h3>Sobre este formulário</h3>
    <p>
        Este formulário foi feito para abranger as questões de 1 a 3 da atividade.
    </p>

    <div class="d-flex">
        <img class="img1" src="https://i.kym-cdn.com/editorials/icons/original/000/004/391/Hello_there.jpg" height="250" width="400" title="Obi-Wan Hello There" alt="Obi-Wan" />
    </div>
</div>

<div class="d-flex flex-column">
    <h4>Deixe um comentário</h4>
    <form>
        <div class="mb-3 w-25">
            <label class="form-label">Nome</label>
            <input class="form-control" placeholder="João Pereira" type="text" />
        </div>
        <div class="mb-3 w-25">
            <label class="form-label">Email</label>
            <input class="form-control" placeholder="email@rmail.com" type="email" aria-describedby="emailHelp" />
        </div>
        <div class="mb-3 w-25">
            <label class="form-label">Website</label>
            <input class="form-control" placeholder="www.exemplo.com.br" type="text" />
        </div>
        <div class="mb-3 w-25">
            <label class="form-label">Comentário</label>
            <textarea class="form-control"></textarea>
        </div>
        <div id="emailHelp" class="form-text">Observação: Seu cometário será publicado após passar pelo moderador.</div>
        <br />
        <button type="submit" class="btn btn-primary">Enviar Comentário</button>
    </form>
</div>

