@{
    ViewData["Title"] = "Atividade 1";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<div class="text-center">
    <h1>Selecione a atividade:</h1>
    <ul class="list">
        <li><a class="navbar-brand" asp-area="" asp-controller="Form1" asp-action="Index" target="_self">Formulário 1</a></li>
        <li><a class="navbar-brand" asp-area="" asp-controller="Form2" asp-action="Index" target="_self">Formulário 2</a></li>
        <li><a class="navbar-brand" asp-area="" asp-controller="Form3" asp-action="Index" target="_self">Formulário 3</a></li>
    </ul>
</div>
